bin/
obj/
gen/
tmp/
data/rfc6234.txt.xz

# temp files
*.swp
*~
*.log
*.out

# Python
*.pyc
__pycache__

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# things to unignore
!.git*
!**/.gitkeep


